<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Willkommen</h2>
    <div>Das ist ein REST-Service. Endpoint :/orakel/&lt;service&gt;</div><br />
    <table>
        <tr><td>/spell</td><td>Liefert einen Spruch zur&uuml;ck</td></tr>
        <tr><td>/number</td><td>Liefert eine Gl&uuml;ckszahl zur&uuml;ck</td></tr>
        <tr><td>/symbol</td><td>Liefert ein Gl&uuml;ckssymbol zur&uuml;ck</td></tr>
    </table>
</body>
</html>